rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{uid}/{subcollection=**}/{docId} {
      allow read: if isOwner(uid) || isRelated(uid);
      allow write: if isOwner(uid);
    }

    // Helpers
    function isOwner(uid) {
      return request.auth != null && request.auth.uid == uid;
    }

    function isRelated(uid) {
      return request.auth != null &&
        exists(/databases/$(database)/documents/users/$(uid)/relatives/$(request.auth.token.phone_number));
    }
  }
}
