# Mac OS system files
.DS_Store

# Visual Studio (Code) settings
.vscode
.vs
**/.vs

# Build / debug folders
bin
obj

# Local only file
*.local.*
*.env
/code/Frontend/packages
/code/backend/Properties/ServiceDependencies/local
*.bkp
